@import 'variables';
@import 'reset';

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: $font-basic;
    font-weight: 400;
    font-style: normal;
    background-color:  $color-dark;
    color: $font-color-base;
}

.title-h2{
    font-size: 4.6rem;
    font-family: $font-heading;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 140px;
    }
    
}

.header__limiter {
    width: 100%;
    max-width: 57%; 
}

.mainmenu{
    display: flex;
    justify-content: space-between;
        &__link{
            transition: .3s;
            font-size: 2rem;
            font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
        }
}

.main-section { 
    &__inner { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 750px;
    }
}


.main-section { 

    &__inner {
        display: flex;
        gap: 6%;
        
    }

    &__buttons {
        padding-top: 100px;
        width: 100%;
        display: flex;
        gap: 30px;
    }

    &__images-wrap{
        display: flex;
        align-items: stretch;
        position: relative;
        height: 100%;
        flex: 0 0 auto;
    }

    &__images {
        max-width: none;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
    }

    &__text {
        flex: 0 1 auto;
    }

    &__befire-title {
        font-size: 2.0rem;
        font-weight: 400;
        letter-spacing: 0.08rem;
        color: $font-color-light;
        text-transform: uppercase;
    }

    &__title { 
        font-family: $font-heading;
        font-size: 6.0rem;
        color: $font-color-base;
        padding: 40px 0 10px 0;
    }

    &__after-title {
        font-size: 3.2rem;
        font-weight: 400;
        color: $font-color-light;
        display: block;
    }

}

.btn {
    display: inline-block;
    padding: 16px 0px;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $font-color-base;
    min-width: 176px;
    text-align: center;
    width: auto;
    outline: none;
    transition: .3s;
        &_main {
            background-color: $color-light;
            border: 1px solid $color-light;
        }
        &_secondary {
            border: 1px solid $font-color-base;
        }
        &:hover{
            background-color: $font-color-light;
            border-color: $font-color-light; 
        }

}

 .video-section {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-middle;
    }  
 }

 .video-loyout{
    position: relative;
    &__preview{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left:0;
    }
    &__button{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-color: $color-light; 
        transition: 0.3s;
            &:hover{
                background-color: $font-color-light; ;  
            }
            &:before {
                content: '';
                position: absolute;
                width: 17px;
                height: 24px;
                top: 50%;
                left: 50%;
                background: url(../img/icon-rect.svg) no-repeat;
                background-size: 100%;
                transform: translate(-50%, -50%);
            }
    }
 }

 .info-wrap-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
 }

 .text-label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
        &__title {
            font-size: 3.0rem;
            font-weight: 600;
            line-height: 100%
        }

        &__info {display: block;
            padding-top: 20px;
            font-size: 2.0rem;
            font-weight: 400;
            color: $font-color-light;
        }
 }

 .info-loyout{
    padding: 55px 30px;
    position: relative;
        &__title{
            padding-bottom: 30px;
        }
 }

 .location-section{
    padding: 120px 0 130px 0;
        &__header {
            display: flex;
            justify-content: space-between;
        }
        &__navigations{
            padding-bottom: 30px;
        }
 }

 .slider-button{
    width: 57px;
    height: 60px;
    position: relative;
    transition: .3s;
    border: 1px solid $color-button-primary;
    cursor: pointer;
        &__icon{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
                path{
                    transition: .3s;
                    stroke: $color-button-primary;
                }
        }
    &_next{
        margin-left: 14px;
    }
    &_prev{
        margin-right: 14px;
        transform: rotate(180deg);  
    }
    &_active{
        background-color: $color-button-primary;
        .slider-button__icon {
            path{
                stroke: white;
            } 
        } 
    }
    &:hover{
        background-color: $color-button-hover;
        .slider-button__icon {
            path{
                stroke: white;
            } 
        } 
    }
 }

 .location-slider {
    display: flex;
    justify-content: space-between;
 }

 .flex-line{
    display: flex;
    justify-content: space-between;
 }

 .location-item {
    width: 100%;
    max-width: 394px;
    &__blinds {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(20, 25, 35, 0.8), rgba(20, 25, 35, 0.8));
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    &__button{
        position: absolute;
        top:50%;
        left:50%;  
        transform: translate(-50%, -50%);
    }
    &__bottom {
        padding-top: 20px;
    }
    &__preview {
        width: 100%;
        height: 394px;
        position: relative;
            &:hover {
                .location-item__blinds {
                    visibility: visible;
                    height: 100%;
                    opacity: 1;
                }
            }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: none;
        z-index: 1;
    }

    &__name {
        font-weight: 600;
        font-size: 2.8rem;
    }
    &__rating{
        display: flex;
        justify-content: flex-end;
    }
    &__city {
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 27px;
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: $font-color-light;
    }
    &__price {
        text-align: right;
        font-weight: 400;
        font-size: 2.0rem;
            span {
                color: $font-color-light; 
            }
    }
 }

 .rating{
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 2.0rem;
    padding-left: 20px;
        &:before{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left:0;
            top:0;
            background: url(../img/star.svg) no-repeat;
            transform: translate(0, 50%);
        }
 }

// @media (min-width: 1920px) {
// }