    $color-dark: #121521;
    $color-middle: #1B213A;
    $color-light: #40467C;
  
    $font-basic: 'Darker Grotesque', sans-serif;
    $font-heading: 'Josefin Sans', sans-serif;

    $font-color-base : #FFF;